streamlit
langchain-core>=0.3.29,<0.4.0
langchain-groq>=0.2.3,<0.3.0
langchain-community>=0.3.14,<0.4.0
langchain-huggingface>=0.1.2,<0.2.0
langchain-text-splitters>=0.3.4,<0.4.0
langchain>=0.3.14,<0.4.0
faiss-cpu
youtube-transcript-api
yt-dlp
requests
python-dotenv
sentence-transformers
huggingface-hub
pydantic