streamlit
langchain-core==0.3.28
langchain-community==0.3.14
langchain-groq==0.2.3
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.4
faiss-cpu
youtube-transcript-api
yt-dlp
requests
python-dotenv
sentence-transformers